body {
    background-color: rgb(31, 27, 55);
    color: white;
    margin: 40px;
    font-family: sans-serif;
}

.tileContainer {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.tileLink {
    text-decoration: none;
}

.tile {
    background-color: rgb(49, 43, 87);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    width: 265px;
    height: 335px;
    padding: 10px;
    float: left;
    margin: 20px;
    transition: all .2s ease-in-out;
}

.tile:hover {
    filter: brightness(125%);
    transform: scale(105%);
}

.tile img {
    width: 100%;
    border-style: none;
    border-radius: 10px;
}

.tileText {
    margin: 5px;
    text-decoration: none;
    color: aliceblue;
}

.tileTitle {
    margin: 5px;
}

.tileSubtitle {
    margin: 5px;
    font-weight: normal;
}

.copy {
    cursor: pointer;
}

.copy:hover {
    color: rgb(123, 255, 255);
}